<template>
  <div class="home">
    

    <v-toolbar fixed app >
      <v-toolbar-title>Home</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>      
    <v-content>
      <v-container fluid>
        <v-form>
          <v-container ma-0 v-if="listSet.length > 0">
            <v-btn @click="goToList">
              Last created list 
              </v-btn>              
          </v-container>
        </v-form>
      </v-container>
    </v-content>



  </div>
</template>

<script>
  export default {
    name: 'Home',
    data: () => ({
      listSet: [],
      id: 0
    }),
    methods:{
        goToList: function(){
          this.$router.push(`/list/`+ this.id)
        }
    },
    mounted() {
      this.listSet = JSON.parse(window.localStorage.getItem('listSet'))
      this.id = this.listSet[this.listSet.length - 1].id
    }
  }
</script>
