<template>
    <div id="shoppingList">

    <v-toolbar fixed app >
      <v-toolbar-title>My Shopping List : {{ name }}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>      
    <v-content>
      <v-container fluid>
        <v-form>
            <v-container ma-0>
                <v-layout row>
                    <v-flex sm4>
                        <v-text-field
                            v-model="element">
                        </v-text-field>
                    </v-flex>
                    <v-flex sm2>
                        <v-btn @click="addList">
                             <v-icon>
                                fa-plus
                            </v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex sm6>
                        <v-list>
                            <v-list-tile v-for="(item, index) in list"
                                :key="index">
                                <v-list-tile-action>
                                    <v-checkbox v-model="item.checked" @change="getTotal"></v-checkbox>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    {{ item.text }}
                                </v-list-tile-content>
                                <v-list-tile-action v-if="item.checked">
                                    <v-text-field
                                        type="number"
                                        v-model="item.price"
                                        suffix="€"
                                        @change="getTotal">
                                    </v-text-field>
                                </v-list-tile-action>
                                <v-list-tile-action>
                                    <v-btn icon @click="sup(index)">
                                        <v-icon>
                                            fa-trash
                                        </v-icon>
                                    </v-btn>
                                </v-list-tile-action>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                </v-layout>
                 <v-layout row>
                     <v-flex sm2>
                        Total : {{ listSet[id].total }} €
                        </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex sm4>
                        <v-text-field
                            label="Budget"
                            v-model="budget"
                            suffix="€"
                            @change="refreshBudget">
                        </v-text-field>
                    </v-flex>
                    <v-flex sm2 v-if="overBudget" >
                         <v-subheader>
                            <v-icon color="error">
                            far fa-money-bill-alt
                            </v-icon>
                        </v-subheader> 
                    </v-flex>
                </v-layout>
                
            </v-container>
        </v-form>
      </v-container>
    </v-content>
        
       
  </div>
</template>

<script>

  export default {
    name: 'shoppingList',
    data:() => ({
      element: '',
      budget: 0,
      overBudget: false,
      listSet: [],
      id: '',
      name: ''
    }),
    computed: {
        list: {
            get: function () {
                return this.listSet[this.id].list
            },
            set: function (value) {
                this.listSet[this.id].list.push(
                    {
                        id: this.listSet[this.id].list.length,
                        text: value[this.id], price: value[1], checked: false
                    })
            }
        }
    },
    methods: {
        addList: function () {
            this.list.push({id:this.list.length, text: this.element, price: 0, checked: false})
            this.element = ''
            this.saveList()
        },
        sup: function(index) {
            this.listSet[this.id].list.splice(index, 1)
            this.getTotal()
        },
        getTotal: function() {
            this.listSet[this.id].total = 0
            for (let i =0; i < this.listSet[this.id].list.length; i++) {
                if (this.listSet[this.id].list[i].checked) {
                    this.listSet[this.id].total += parseInt(this.listSet[this.id].list[i].price)
                }
            }
            this.refreshBudget()
            this.saveList()
        },
        refreshBudget: function(){
            this.listSet[this.id].budget = this.budget
            if (this.listSet[this.id].budget > this.listSet[this.id].total){
                this.overBudget = false
            }else{
                this.overBudget = true
            }
            this.saveList()
        },
        saveList: function() {
            const parsed = JSON.stringify(this.listSet);
            localStorage.setItem('listSet', parsed);
        }
    },
    mounted() {
        this.id = this.$route.params.id
        this.listSet = JSON.parse(window.localStorage.getItem('listSet'))
        this.budget = this.listSet[this.id].budget
        this.name = this.listSet[this.id].name
        this.getTotal()
    }
  }
</script>