<template>
    <div id="lists">
       
        <v-toolbar fixed app >
      <v-toolbar-title> Lists</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>      
    <v-content>
      <v-container fluid>
        <v-form>
            <v-container ma-0>
                <v-layout row>
                    <v-flex sm4>
                        <v-text-field
                        v-model="add"
                        label="New list name"
                        ></v-text-field>
                    </v-flex>
                    <v-flex sm2>
                        <v-btn @click="addList">
                            <v-icon>
                                fa-plus
                            </v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex sm4>
                        <v-text-field
                        v-model="search"
                        label="Search"
                        @change="searchList"
                        ></v-text-field>
                    </v-flex>
                    <v-flex sm2>
                        <v-btn>
                            <v-icon>
                                fa-search 
                            </v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex sm6>
                        <v-list>
                            <v-list-tile v-for="(item, index) in displayList"
                                :key="index"
                                @click="goto(item.id)">
                                    <v-list-tile-content>
                                        <v-list-tile id="item.id">{{ item.name }} </v-list-tile>
                                    </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                </v-layout>
                
            </v-container >
        </v-form>
        <v-snackbar
            v-model="snackbar.activate"
            :bottom="snackbar.y === 'bottom'"
            :left="snackbar.x === 'left'"
            :multi-line="snackbar.mode === 'multi-line'"
            :right="snackbar.x === 'right'"
            :timeout="snackbar.timeout"
            :top="snackbar.y == 'top'"
            :vertical="snackbar.mode === 'vertical'">
                {{ snackbar.text }}
        </v-snackbar>

      </v-container>
    </v-content>
        
    </div>
</template>

<script>
export default {
    name: 'Lists',
    data:() => ({
        search: '',
        add: '',
        displayList: [],
        listSet: [],
        snackbar: {
            activate: false,
            y: 'top',
            x: null,
            mode: '',
            timeout: 2000,
            text: '' 
        },
        msgError: 'The list has not been added, the name is empty',
        msgValid: 'The list has been added'
    }),
    computed: {
    },
    methods: {
        addList: function() {
            if (this.add !== '') {
                this.listSet.push(
                {
                    id: this.listSet.length,
                    name: this.add,
                    budget: 0,
                    total: 0,
                    list: []
                })
                this.add = ''
                this.saveList()
                this.snackbar.text = this.msgValid
                this.snackbar.activate = true
            }
            else {
                this.snackbar.text = this.msgError
                this.snackbar.activate = true
            }
        },
        saveList: function() {
            const parsed = JSON.stringify(this.listSet);
            localStorage.setItem('listSet', parsed);
        },
        searchList: function() {
            this.displayList = []

            for (let i = 0; i < this.listSet.length; i++) {
                if (this.listSet[i].name.includes(this.search)) {
                    this.displayList.push(this.listSet[i])
                }
            }
        },
        goto: function(id) {
            this.$router.push('/list/' + id)
        }
    },
    mounted () {
        this.listSet = JSON.parse(window.localStorage.getItem('listSet'))
        this.displayList = this.listSet
    }
}
</script>
