<template>
  <v-app light>
    <v-navigation-drawer enable-resize-watcher app dark class="primary">
      <v-list dense>
        <v-list-tile @click="home">
          <v-list-tile-action>
                <v-icon>fas fa-home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="lists">
          <v-list-tile-action>
             <v-icon>fas fa-list</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Lists</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="about">
          <v-list-tile-action>
            <v-icon>fas fa-question</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>About</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <router-view></router-view>
  </v-app>
</template>

<script>
  export default {
    name: 'vuetifylayout',
    data: () => ({
    }),
    methods: {
        home: function() {
            this.$router.push('/')
        },
        lists: function() {
            this.$router.push('/lists')
        },
        about: function () {
            this.$router.push('/about')
        }
    }
  }
</script>   