<template>
  <div id="app">
    <vuetifylayout></vuetifylayout>
  </div>
</template>

<script>
import vuetifylayout from './views/vuetify_layout.vue'
export default {
  name: 'app',
  components: {
     vuetifylayout
  }
}
</script>